=begin
#knievel

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0-SNAPSHOT

=end

require 'cgi'

module Knievel
  class AdLibraryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param org_id [String] 
    # @param create_ad_library_item_request [CreateAdLibraryItemRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AdLibraryItem]
    def create_ad_library_item(org_id, create_ad_library_item_request, opts = {})
      data, _status_code, _headers = create_ad_library_item_with_http_info(org_id, create_ad_library_item_request, opts)
      data
    end

    # @param org_id [String] 
    # @param create_ad_library_item_request [CreateAdLibraryItemRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdLibraryItem, Integer, Hash)>] AdLibraryItem data, response status code and response headers
    def create_ad_library_item_with_http_info(org_id, create_ad_library_item_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdLibraryApi.create_ad_library_item ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdLibraryApi.create_ad_library_item"
      end
      # verify the required parameter 'create_ad_library_item_request' is set
      if @api_client.config.client_side_validation && create_ad_library_item_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ad_library_item_request' when calling AdLibraryApi.create_ad_library_item"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/ad-library/items'.sub('{org_id}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ad_library_item_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdLibraryItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdLibraryApi.create_ad_library_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdLibraryApi#create_ad_library_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdLibraryItem]
    def get_ad_library_item(org_id, item_id, opts = {})
      data, _status_code, _headers = get_ad_library_item_with_http_info(org_id, item_id, opts)
      data
    end

    # @param org_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdLibraryItem, Integer, Hash)>] AdLibraryItem data, response status code and response headers
    def get_ad_library_item_with_http_info(org_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdLibraryApi.get_ad_library_item ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdLibraryApi.get_ad_library_item"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling AdLibraryApi.get_ad_library_item"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/ad-library/items/{item_id}'.sub('{org_id}', CGI.escape(org_id.to_s)).sub('{item_id}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdLibraryItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdLibraryApi.get_ad_library_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdLibraryApi#get_ad_library_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdLibraryItemList]
    def list_ad_library_items(org_id, opts = {})
      data, _status_code, _headers = list_ad_library_items_with_http_info(org_id, opts)
      data
    end

    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdLibraryItemList, Integer, Hash)>] AdLibraryItemList data, response status code and response headers
    def list_ad_library_items_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdLibraryApi.list_ad_library_items ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdLibraryApi.list_ad_library_items"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/ad-library/items'.sub('{org_id}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdLibraryItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdLibraryApi.list_ad_library_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdLibraryApi#list_ad_library_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param item_id [String] 
    # @param update_ad_library_item_request [UpdateAdLibraryItemRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AdLibraryItem]
    def update_ad_library_item(org_id, item_id, update_ad_library_item_request, opts = {})
      data, _status_code, _headers = update_ad_library_item_with_http_info(org_id, item_id, update_ad_library_item_request, opts)
      data
    end

    # @param org_id [String] 
    # @param item_id [String] 
    # @param update_ad_library_item_request [UpdateAdLibraryItemRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdLibraryItem, Integer, Hash)>] AdLibraryItem data, response status code and response headers
    def update_ad_library_item_with_http_info(org_id, item_id, update_ad_library_item_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdLibraryApi.update_ad_library_item ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdLibraryApi.update_ad_library_item"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling AdLibraryApi.update_ad_library_item"
      end
      # verify the required parameter 'update_ad_library_item_request' is set
      if @api_client.config.client_side_validation && update_ad_library_item_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_ad_library_item_request' when calling AdLibraryApi.update_ad_library_item"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/ad-library/items/{item_id}'.sub('{org_id}', CGI.escape(org_id.to_s)).sub('{item_id}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_ad_library_item_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdLibraryItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdLibraryApi.update_ad_library_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdLibraryApi#update_ad_library_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
