=begin
#knievel

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.23

Generated by: https://openapi-generator.tech
Generator version: 7.23.0-SNAPSHOT

=end

require 'cgi'

module Knievel
  class AdsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param project_id [String] 
    # @param batch_upsert_ads_request [BatchUpsertAdsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchUpsertAdsResult]
    def batch_upsert_ads(project_id, batch_upsert_ads_request, opts = {})
      data, _status_code, _headers = batch_upsert_ads_with_http_info(project_id, batch_upsert_ads_request, opts)
      data
    end

    # @param project_id [String] 
    # @param batch_upsert_ads_request [BatchUpsertAdsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchUpsertAdsResult, Integer, Hash)>] BatchUpsertAdsResult data, response status code and response headers
    def batch_upsert_ads_with_http_info(project_id, batch_upsert_ads_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdsApi.batch_upsert_ads ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdsApi.batch_upsert_ads"
      end
      # verify the required parameter 'batch_upsert_ads_request' is set
      if @api_client.config.client_side_validation && batch_upsert_ads_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_upsert_ads_request' when calling AdsApi.batch_upsert_ads"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/ads:batchUpsert'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_upsert_ads_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchUpsertAdsResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdsApi.batch_upsert_ads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdsApi#batch_upsert_ads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param create_ad_request [CreateAdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Ad]
    def create_ad(project_id, create_ad_request, opts = {})
      data, _status_code, _headers = create_ad_with_http_info(project_id, create_ad_request, opts)
      data
    end

    # @param project_id [String] 
    # @param create_ad_request [CreateAdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Ad, Integer, Hash)>] Ad data, response status code and response headers
    def create_ad_with_http_info(project_id, create_ad_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdsApi.create_ad ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdsApi.create_ad"
      end
      # verify the required parameter 'create_ad_request' is set
      if @api_client.config.client_side_validation && create_ad_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ad_request' when calling AdsApi.create_ad"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/ads'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ad_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Ad'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdsApi.create_ad",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdsApi#create_ad\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Ad]
    def get_ad(project_id, id, opts = {})
      data, _status_code, _headers = get_ad_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Ad, Integer, Hash)>] Ad data, response status code and response headers
    def get_ad_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdsApi.get_ad ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdsApi.get_ad"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdsApi.get_ad"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/ads/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Ad'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdsApi.get_ad",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdsApi#get_ad\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @return [AdList]
    def list_ads(project_id, opts = {})
      data, _status_code, _headers = list_ads_with_http_info(project_id, opts)
      data
    end

    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @return [Array<(AdList, Integer, Hash)>] AdList data, response status code and response headers
    def list_ads_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdsApi.list_ads ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdsApi.list_ads"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/ads'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdsApi.list_ads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdsApi#list_ads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param update_ad_request [UpdateAdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Ad]
    def update_ad(project_id, id, update_ad_request, opts = {})
      data, _status_code, _headers = update_ad_with_http_info(project_id, id, update_ad_request, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param update_ad_request [UpdateAdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Ad, Integer, Hash)>] Ad data, response status code and response headers
    def update_ad_with_http_info(project_id, id, update_ad_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdsApi.update_ad ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdsApi.update_ad"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdsApi.update_ad"
      end
      # verify the required parameter 'update_ad_request' is set
      if @api_client.config.client_side_validation && update_ad_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_ad_request' when calling AdsApi.update_ad"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/ads/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_ad_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Ad'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdsApi.update_ad",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdsApi#update_ad\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
