=begin
#knievel

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0-SNAPSHOT

=end

require 'cgi'

module Knievel
  class AdvertisersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # `POST /v1/projects/:project_id/advertisers:batchUpsert` — bulk by `externalId`. Single Postgres transaction; per `API.md` \"Write contract\" any per-row failure rolls back the whole batch with `details[]` listing every offending row. On success: 200 with the upserted rows in input order.
    # @param project_id [String] 
    # @param batch_upsert_advertisers_request [BatchUpsertAdvertisersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchUpsertAdvertisersResult]
    def batch_upsert_advertisers(project_id, batch_upsert_advertisers_request, opts = {})
      data, _status_code, _headers = batch_upsert_advertisers_with_http_info(project_id, batch_upsert_advertisers_request, opts)
      data
    end

    # &#x60;POST /v1/projects/:project_id/advertisers:batchUpsert&#x60; — bulk by &#x60;externalId&#x60;. Single Postgres transaction; per &#x60;API.md&#x60; \&quot;Write contract\&quot; any per-row failure rolls back the whole batch with &#x60;details[]&#x60; listing every offending row. On success: 200 with the upserted rows in input order.
    # @param project_id [String] 
    # @param batch_upsert_advertisers_request [BatchUpsertAdvertisersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchUpsertAdvertisersResult, Integer, Hash)>] BatchUpsertAdvertisersResult data, response status code and response headers
    def batch_upsert_advertisers_with_http_info(project_id, batch_upsert_advertisers_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvertisersApi.batch_upsert_advertisers ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdvertisersApi.batch_upsert_advertisers"
      end
      # verify the required parameter 'batch_upsert_advertisers_request' is set
      if @api_client.config.client_side_validation && batch_upsert_advertisers_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_upsert_advertisers_request' when calling AdvertisersApi.batch_upsert_advertisers"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/advertisers:batchUpsert'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_upsert_advertisers_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchUpsertAdvertisersResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdvertisersApi.batch_upsert_advertisers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvertisersApi#batch_upsert_advertisers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param create_advertiser_request [CreateAdvertiserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Advertiser]
    def create_advertiser(project_id, create_advertiser_request, opts = {})
      data, _status_code, _headers = create_advertiser_with_http_info(project_id, create_advertiser_request, opts)
      data
    end

    # @param project_id [String] 
    # @param create_advertiser_request [CreateAdvertiserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Advertiser, Integer, Hash)>] Advertiser data, response status code and response headers
    def create_advertiser_with_http_info(project_id, create_advertiser_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvertisersApi.create_advertiser ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdvertisersApi.create_advertiser"
      end
      # verify the required parameter 'create_advertiser_request' is set
      if @api_client.config.client_side_validation && create_advertiser_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_advertiser_request' when calling AdvertisersApi.create_advertiser"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/advertisers'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_advertiser_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Advertiser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdvertisersApi.create_advertiser",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvertisersApi#create_advertiser\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Advertiser]
    def get_advertiser(project_id, id, opts = {})
      data, _status_code, _headers = get_advertiser_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Advertiser, Integer, Hash)>] Advertiser data, response status code and response headers
    def get_advertiser_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvertisersApi.get_advertiser ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdvertisersApi.get_advertiser"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdvertisersApi.get_advertiser"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/advertisers/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Advertiser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdvertisersApi.get_advertiser",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvertisersApi#get_advertiser\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdvertiserList]
    def list_advertisers(project_id, opts = {})
      data, _status_code, _headers = list_advertisers_with_http_info(project_id, opts)
      data
    end

    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvertiserList, Integer, Hash)>] AdvertiserList data, response status code and response headers
    def list_advertisers_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvertisersApi.list_advertisers ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdvertisersApi.list_advertisers"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/advertisers'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdvertiserList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdvertisersApi.list_advertisers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvertisersApi#list_advertisers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param update_advertiser_request [UpdateAdvertiserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Advertiser]
    def update_advertiser(project_id, id, update_advertiser_request, opts = {})
      data, _status_code, _headers = update_advertiser_with_http_info(project_id, id, update_advertiser_request, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param update_advertiser_request [UpdateAdvertiserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Advertiser, Integer, Hash)>] Advertiser data, response status code and response headers
    def update_advertiser_with_http_info(project_id, id, update_advertiser_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvertisersApi.update_advertiser ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdvertisersApi.update_advertiser"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdvertisersApi.update_advertiser"
      end
      # verify the required parameter 'update_advertiser_request' is set
      if @api_client.config.client_side_validation && update_advertiser_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_advertiser_request' when calling AdvertisersApi.update_advertiser"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/advertisers/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_advertiser_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Advertiser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdvertisersApi.update_advertiser",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvertisersApi#update_advertiser\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
