=begin
#knievel

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0-SNAPSHOT

=end

require 'cgi'

module Knievel
  class CreativeTemplatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param project_id [String] 
    # @param create_creative_template_request [CreateCreativeTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreativeTemplate]
    def create_creative_template(project_id, create_creative_template_request, opts = {})
      data, _status_code, _headers = create_creative_template_with_http_info(project_id, create_creative_template_request, opts)
      data
    end

    # @param project_id [String] 
    # @param create_creative_template_request [CreateCreativeTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreativeTemplate, Integer, Hash)>] CreativeTemplate data, response status code and response headers
    def create_creative_template_with_http_info(project_id, create_creative_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreativeTemplatesApi.create_creative_template ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CreativeTemplatesApi.create_creative_template"
      end
      # verify the required parameter 'create_creative_template_request' is set
      if @api_client.config.client_side_validation && create_creative_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_creative_template_request' when calling CreativeTemplatesApi.create_creative_template"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/creative-templates'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_creative_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreativeTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CreativeTemplatesApi.create_creative_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreativeTemplatesApi#create_creative_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [CreativeTemplate]
    def get_creative_template(project_id, id, opts = {})
      data, _status_code, _headers = get_creative_template_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreativeTemplate, Integer, Hash)>] CreativeTemplate data, response status code and response headers
    def get_creative_template_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreativeTemplatesApi.get_creative_template ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CreativeTemplatesApi.get_creative_template"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CreativeTemplatesApi.get_creative_template"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/creative-templates/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreativeTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CreativeTemplatesApi.get_creative_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreativeTemplatesApi#get_creative_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreativeTemplateList]
    def list_creative_templates(project_id, opts = {})
      data, _status_code, _headers = list_creative_templates_with_http_info(project_id, opts)
      data
    end

    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreativeTemplateList, Integer, Hash)>] CreativeTemplateList data, response status code and response headers
    def list_creative_templates_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreativeTemplatesApi.list_creative_templates ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CreativeTemplatesApi.list_creative_templates"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/creative-templates'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreativeTemplateList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CreativeTemplatesApi.list_creative_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreativeTemplatesApi#list_creative_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # PATCH bumps `version` whenever the schema field is provided (per `API.md` § 3.6 — schema changes are versioned but do not retroactively re-validate existing creatives).
    # @param project_id [String] 
    # @param id [Integer] 
    # @param update_creative_template_request [UpdateCreativeTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreativeTemplate]
    def update_creative_template(project_id, id, update_creative_template_request, opts = {})
      data, _status_code, _headers = update_creative_template_with_http_info(project_id, id, update_creative_template_request, opts)
      data
    end

    # PATCH bumps &#x60;version&#x60; whenever the schema field is provided (per &#x60;API.md&#x60; § 3.6 — schema changes are versioned but do not retroactively re-validate existing creatives).
    # @param project_id [String] 
    # @param id [Integer] 
    # @param update_creative_template_request [UpdateCreativeTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreativeTemplate, Integer, Hash)>] CreativeTemplate data, response status code and response headers
    def update_creative_template_with_http_info(project_id, id, update_creative_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreativeTemplatesApi.update_creative_template ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CreativeTemplatesApi.update_creative_template"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CreativeTemplatesApi.update_creative_template"
      end
      # verify the required parameter 'update_creative_template_request' is set
      if @api_client.config.client_side_validation && update_creative_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_creative_template_request' when calling CreativeTemplatesApi.update_creative_template"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/creative-templates/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_creative_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreativeTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CreativeTemplatesApi.update_creative_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreativeTemplatesApi#update_creative_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
