=begin
#knievel

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0-SNAPSHOT

=end

require 'cgi'

module Knievel
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param project_id [String] 
    # @param batch_upsert_ads_request [BatchUpsertAdsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchUpsertAdsResult]
    def batch_upsert_ads(project_id, batch_upsert_ads_request, opts = {})
      data, _status_code, _headers = batch_upsert_ads_with_http_info(project_id, batch_upsert_ads_request, opts)
      data
    end

    # @param project_id [String] 
    # @param batch_upsert_ads_request [BatchUpsertAdsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchUpsertAdsResult, Integer, Hash)>] BatchUpsertAdsResult data, response status code and response headers
    def batch_upsert_ads_with_http_info(project_id, batch_upsert_ads_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.batch_upsert_ads ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.batch_upsert_ads"
      end
      # verify the required parameter 'batch_upsert_ads_request' is set
      if @api_client.config.client_side_validation && batch_upsert_ads_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_upsert_ads_request' when calling DefaultApi.batch_upsert_ads"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/ads:batchUpsert'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_upsert_ads_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchUpsertAdsResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.batch_upsert_ads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#batch_upsert_ads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # `POST /v1/projects/:project_id/advertisers:batchUpsert` — bulk by `externalId`. Single Postgres transaction; per `API.md` \"Write contract\" any per-row failure rolls back the whole batch with `details[]` listing every offending row. On success: 200 with the upserted rows in input order.
    # @param project_id [String] 
    # @param batch_upsert_advertisers_request [BatchUpsertAdvertisersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchUpsertAdvertisersResult]
    def batch_upsert_advertisers(project_id, batch_upsert_advertisers_request, opts = {})
      data, _status_code, _headers = batch_upsert_advertisers_with_http_info(project_id, batch_upsert_advertisers_request, opts)
      data
    end

    # &#x60;POST /v1/projects/:project_id/advertisers:batchUpsert&#x60; — bulk by &#x60;externalId&#x60;. Single Postgres transaction; per &#x60;API.md&#x60; \&quot;Write contract\&quot; any per-row failure rolls back the whole batch with &#x60;details[]&#x60; listing every offending row. On success: 200 with the upserted rows in input order.
    # @param project_id [String] 
    # @param batch_upsert_advertisers_request [BatchUpsertAdvertisersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchUpsertAdvertisersResult, Integer, Hash)>] BatchUpsertAdvertisersResult data, response status code and response headers
    def batch_upsert_advertisers_with_http_info(project_id, batch_upsert_advertisers_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.batch_upsert_advertisers ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.batch_upsert_advertisers"
      end
      # verify the required parameter 'batch_upsert_advertisers_request' is set
      if @api_client.config.client_side_validation && batch_upsert_advertisers_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_upsert_advertisers_request' when calling DefaultApi.batch_upsert_advertisers"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/advertisers:batchUpsert'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_upsert_advertisers_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchUpsertAdvertisersResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.batch_upsert_advertisers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#batch_upsert_advertisers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param batch_upsert_campaigns_request [BatchUpsertCampaignsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchUpsertCampaignsResult]
    def batch_upsert_campaigns(project_id, batch_upsert_campaigns_request, opts = {})
      data, _status_code, _headers = batch_upsert_campaigns_with_http_info(project_id, batch_upsert_campaigns_request, opts)
      data
    end

    # @param project_id [String] 
    # @param batch_upsert_campaigns_request [BatchUpsertCampaignsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchUpsertCampaignsResult, Integer, Hash)>] BatchUpsertCampaignsResult data, response status code and response headers
    def batch_upsert_campaigns_with_http_info(project_id, batch_upsert_campaigns_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.batch_upsert_campaigns ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.batch_upsert_campaigns"
      end
      # verify the required parameter 'batch_upsert_campaigns_request' is set
      if @api_client.config.client_side_validation && batch_upsert_campaigns_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_upsert_campaigns_request' when calling DefaultApi.batch_upsert_campaigns"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/campaigns:batchUpsert'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_upsert_campaigns_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchUpsertCampaignsResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.batch_upsert_campaigns",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#batch_upsert_campaigns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param batch_upsert_flights_request [BatchUpsertFlightsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchUpsertFlightsResult]
    def batch_upsert_flights(project_id, batch_upsert_flights_request, opts = {})
      data, _status_code, _headers = batch_upsert_flights_with_http_info(project_id, batch_upsert_flights_request, opts)
      data
    end

    # @param project_id [String] 
    # @param batch_upsert_flights_request [BatchUpsertFlightsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchUpsertFlightsResult, Integer, Hash)>] BatchUpsertFlightsResult data, response status code and response headers
    def batch_upsert_flights_with_http_info(project_id, batch_upsert_flights_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.batch_upsert_flights ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.batch_upsert_flights"
      end
      # verify the required parameter 'batch_upsert_flights_request' is set
      if @api_client.config.client_side_validation && batch_upsert_flights_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_upsert_flights_request' when calling DefaultApi.batch_upsert_flights"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/flights:batchUpsert'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_upsert_flights_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchUpsertFlightsResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.batch_upsert_flights",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#batch_upsert_flights\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param batch_upsert_sites_request [BatchUpsertSitesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchUpsertSitesResult]
    def batch_upsert_sites(project_id, batch_upsert_sites_request, opts = {})
      data, _status_code, _headers = batch_upsert_sites_with_http_info(project_id, batch_upsert_sites_request, opts)
      data
    end

    # @param project_id [String] 
    # @param batch_upsert_sites_request [BatchUpsertSitesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchUpsertSitesResult, Integer, Hash)>] BatchUpsertSitesResult data, response status code and response headers
    def batch_upsert_sites_with_http_info(project_id, batch_upsert_sites_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.batch_upsert_sites ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.batch_upsert_sites"
      end
      # verify the required parameter 'batch_upsert_sites_request' is set
      if @api_client.config.client_side_validation && batch_upsert_sites_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_upsert_sites_request' when calling DefaultApi.batch_upsert_sites"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/sites:batchUpsert'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_upsert_sites_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchUpsertSitesResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.batch_upsert_sites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#batch_upsert_sites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param batch_upsert_zones_request [BatchUpsertZonesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchUpsertZonesResult]
    def batch_upsert_zones(project_id, batch_upsert_zones_request, opts = {})
      data, _status_code, _headers = batch_upsert_zones_with_http_info(project_id, batch_upsert_zones_request, opts)
      data
    end

    # @param project_id [String] 
    # @param batch_upsert_zones_request [BatchUpsertZonesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchUpsertZonesResult, Integer, Hash)>] BatchUpsertZonesResult data, response status code and response headers
    def batch_upsert_zones_with_http_info(project_id, batch_upsert_zones_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.batch_upsert_zones ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.batch_upsert_zones"
      end
      # verify the required parameter 'batch_upsert_zones_request' is set
      if @api_client.config.client_side_validation && batch_upsert_zones_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_upsert_zones_request' when calling DefaultApi.batch_upsert_zones"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/zones:batchUpsert'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_upsert_zones_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchUpsertZonesResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.batch_upsert_zones",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#batch_upsert_zones\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param create_ad_request [CreateAdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Ad]
    def create_ad(project_id, create_ad_request, opts = {})
      data, _status_code, _headers = create_ad_with_http_info(project_id, create_ad_request, opts)
      data
    end

    # @param project_id [String] 
    # @param create_ad_request [CreateAdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Ad, Integer, Hash)>] Ad data, response status code and response headers
    def create_ad_with_http_info(project_id, create_ad_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_ad ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.create_ad"
      end
      # verify the required parameter 'create_ad_request' is set
      if @api_client.config.client_side_validation && create_ad_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ad_request' when calling DefaultApi.create_ad"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/ads'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ad_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Ad'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_ad",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_ad\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param create_ad_library_item_request [CreateAdLibraryItemRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AdLibraryItem]
    def create_ad_library_item(org_id, create_ad_library_item_request, opts = {})
      data, _status_code, _headers = create_ad_library_item_with_http_info(org_id, create_ad_library_item_request, opts)
      data
    end

    # @param org_id [String] 
    # @param create_ad_library_item_request [CreateAdLibraryItemRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdLibraryItem, Integer, Hash)>] AdLibraryItem data, response status code and response headers
    def create_ad_library_item_with_http_info(org_id, create_ad_library_item_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_ad_library_item ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling DefaultApi.create_ad_library_item"
      end
      # verify the required parameter 'create_ad_library_item_request' is set
      if @api_client.config.client_side_validation && create_ad_library_item_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ad_library_item_request' when calling DefaultApi.create_ad_library_item"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/ad-library/items'.sub('{org_id}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ad_library_item_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdLibraryItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_ad_library_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_ad_library_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param create_advertiser_request [CreateAdvertiserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Advertiser]
    def create_advertiser(project_id, create_advertiser_request, opts = {})
      data, _status_code, _headers = create_advertiser_with_http_info(project_id, create_advertiser_request, opts)
      data
    end

    # @param project_id [String] 
    # @param create_advertiser_request [CreateAdvertiserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Advertiser, Integer, Hash)>] Advertiser data, response status code and response headers
    def create_advertiser_with_http_info(project_id, create_advertiser_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_advertiser ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.create_advertiser"
      end
      # verify the required parameter 'create_advertiser_request' is set
      if @api_client.config.client_side_validation && create_advertiser_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_advertiser_request' when calling DefaultApi.create_advertiser"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/advertisers'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_advertiser_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Advertiser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_advertiser",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_advertiser\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param create_campaign_request [CreateCampaignRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Campaign]
    def create_campaign(project_id, create_campaign_request, opts = {})
      data, _status_code, _headers = create_campaign_with_http_info(project_id, create_campaign_request, opts)
      data
    end

    # @param project_id [String] 
    # @param create_campaign_request [CreateCampaignRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Campaign, Integer, Hash)>] Campaign data, response status code and response headers
    def create_campaign_with_http_info(project_id, create_campaign_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_campaign ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.create_campaign"
      end
      # verify the required parameter 'create_campaign_request' is set
      if @api_client.config.client_side_validation && create_campaign_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_campaign_request' when calling DefaultApi.create_campaign"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/campaigns'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_campaign_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Campaign'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_campaign",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_campaign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param create_creative_request [CreateCreativeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Creative]
    def create_creative(project_id, create_creative_request, opts = {})
      data, _status_code, _headers = create_creative_with_http_info(project_id, create_creative_request, opts)
      data
    end

    # @param project_id [String] 
    # @param create_creative_request [CreateCreativeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Creative, Integer, Hash)>] Creative data, response status code and response headers
    def create_creative_with_http_info(project_id, create_creative_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_creative ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.create_creative"
      end
      # verify the required parameter 'create_creative_request' is set
      if @api_client.config.client_side_validation && create_creative_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_creative_request' when calling DefaultApi.create_creative"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/creatives'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_creative_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Creative'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_creative",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_creative\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param create_creative_template_request [CreateCreativeTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreativeTemplate]
    def create_creative_template(project_id, create_creative_template_request, opts = {})
      data, _status_code, _headers = create_creative_template_with_http_info(project_id, create_creative_template_request, opts)
      data
    end

    # @param project_id [String] 
    # @param create_creative_template_request [CreateCreativeTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreativeTemplate, Integer, Hash)>] CreativeTemplate data, response status code and response headers
    def create_creative_template_with_http_info(project_id, create_creative_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_creative_template ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.create_creative_template"
      end
      # verify the required parameter 'create_creative_template_request' is set
      if @api_client.config.client_side_validation && create_creative_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_creative_template_request' when calling DefaultApi.create_creative_template"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/creative-templates'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_creative_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreativeTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_creative_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_creative_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param create_flight_request [CreateFlightRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Flight]
    def create_flight(project_id, create_flight_request, opts = {})
      data, _status_code, _headers = create_flight_with_http_info(project_id, create_flight_request, opts)
      data
    end

    # @param project_id [String] 
    # @param create_flight_request [CreateFlightRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Flight, Integer, Hash)>] Flight data, response status code and response headers
    def create_flight_with_http_info(project_id, create_flight_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_flight ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.create_flight"
      end
      # verify the required parameter 'create_flight_request' is set
      if @api_client.config.client_side_validation && create_flight_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_flight_request' when calling DefaultApi.create_flight"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/flights'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_flight_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Flight'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_flight",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_flight\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a project under an org. Honors `Idempotency-Key` (24 h replay window per `API.md` \"Idempotency\"); `409 idempotency_conflict` if the same key is reused with a different body. Returns `409 external_id_conflict` if the `externalId` is already taken in this org.
    # @param org_id [String] 
    # @param create_project_request [CreateProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [ProjectResponse]
    def create_project(org_id, create_project_request, opts = {})
      data, _status_code, _headers = create_project_with_http_info(org_id, create_project_request, opts)
      data
    end

    # Create a project under an org. Honors &#x60;Idempotency-Key&#x60; (24 h replay window per &#x60;API.md&#x60; \&quot;Idempotency\&quot;); &#x60;409 idempotency_conflict&#x60; if the same key is reused with a different body. Returns &#x60;409 external_id_conflict&#x60; if the &#x60;externalId&#x60; is already taken in this org.
    # @param org_id [String] 
    # @param create_project_request [CreateProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(ProjectResponse, Integer, Hash)>] ProjectResponse data, response status code and response headers
    def create_project_with_http_info(org_id, create_project_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_project ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling DefaultApi.create_project"
      end
      # verify the required parameter 'create_project_request' is set
      if @api_client.config.client_side_validation && create_project_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_project_request' when calling DefaultApi.create_project"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/projects'.sub('{org_id}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params['idempotency_key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_project_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param create_site_request [CreateSiteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Site]
    def create_site(project_id, create_site_request, opts = {})
      data, _status_code, _headers = create_site_with_http_info(project_id, create_site_request, opts)
      data
    end

    # @param project_id [String] 
    # @param create_site_request [CreateSiteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Site, Integer, Hash)>] Site data, response status code and response headers
    def create_site_with_http_info(project_id, create_site_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_site ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.create_site"
      end
      # verify the required parameter 'create_site_request' is set
      if @api_client.config.client_side_validation && create_site_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_site_request' when calling DefaultApi.create_site"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/sites'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_site_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Site'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_site",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mint an opaque token. Returns the plaintext secret exactly once. Min role: org-admin.
    # @param org_id [String] 
    # @param create_token_request [CreateTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTokenResponse]
    def create_token(org_id, create_token_request, opts = {})
      data, _status_code, _headers = create_token_with_http_info(org_id, create_token_request, opts)
      data
    end

    # Mint an opaque token. Returns the plaintext secret exactly once. Min role: org-admin.
    # @param org_id [String] 
    # @param create_token_request [CreateTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTokenResponse, Integer, Hash)>] CreateTokenResponse data, response status code and response headers
    def create_token_with_http_info(org_id, create_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling DefaultApi.create_token"
      end
      # verify the required parameter 'create_token_request' is set
      if @api_client.config.client_side_validation && create_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_token_request' when calling DefaultApi.create_token"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/tokens'.sub('{org_id}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param create_zone_request [CreateZoneRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Zone]
    def create_zone(project_id, create_zone_request, opts = {})
      data, _status_code, _headers = create_zone_with_http_info(project_id, create_zone_request, opts)
      data
    end

    # @param project_id [String] 
    # @param create_zone_request [CreateZoneRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Zone, Integer, Hash)>] Zone data, response status code and response headers
    def create_zone_with_http_info(project_id, create_zone_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_zone ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.create_zone"
      end
      # verify the required parameter 'create_zone_request' is set
      if @api_client.config.client_side_validation && create_zone_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_zone_request' when calling DefaultApi.create_zone"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/zones'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_zone_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Zone'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_zone",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_zone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param decisions_request [DecisionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DecisionsResponse]
    def decisions(project_id, decisions_request, opts = {})
      data, _status_code, _headers = decisions_with_http_info(project_id, decisions_request, opts)
      data
    end

    # @param project_id [String] 
    # @param decisions_request [DecisionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DecisionsResponse, Integer, Hash)>] DecisionsResponse data, response status code and response headers
    def decisions_with_http_info(project_id, decisions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.decisions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.decisions"
      end
      # verify the required parameter 'decisions_request' is set
      if @api_client.config.client_side_validation && decisions_request.nil?
        fail ArgumentError, "Missing the required parameter 'decisions_request' when calling DefaultApi.decisions"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/decisions'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(decisions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DecisionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.decisions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#decisions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param decisions_request [DecisionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ExplainResponse]
    def decisions_explain(project_id, decisions_request, opts = {})
      data, _status_code, _headers = decisions_explain_with_http_info(project_id, decisions_request, opts)
      data
    end

    # @param project_id [String] 
    # @param decisions_request [DecisionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExplainResponse, Integer, Hash)>] ExplainResponse data, response status code and response headers
    def decisions_explain_with_http_info(project_id, decisions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.decisions_explain ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.decisions_explain"
      end
      # verify the required parameter 'decisions_request' is set
      if @api_client.config.client_side_validation && decisions_request.nil?
        fail ArgumentError, "Missing the required parameter 'decisions_request' when calling DefaultApi.decisions_explain"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/decisions:explain'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(decisions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ExplainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.decisions_explain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#decisions_explain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Ad]
    def get_ad(project_id, id, opts = {})
      data, _status_code, _headers = get_ad_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Ad, Integer, Hash)>] Ad data, response status code and response headers
    def get_ad_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_ad ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_ad"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_ad"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/ads/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Ad'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_ad",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_ad\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdLibraryItem]
    def get_ad_library_item(org_id, item_id, opts = {})
      data, _status_code, _headers = get_ad_library_item_with_http_info(org_id, item_id, opts)
      data
    end

    # @param org_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdLibraryItem, Integer, Hash)>] AdLibraryItem data, response status code and response headers
    def get_ad_library_item_with_http_info(org_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_ad_library_item ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling DefaultApi.get_ad_library_item"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling DefaultApi.get_ad_library_item"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/ad-library/items/{item_id}'.sub('{org_id}', CGI.escape(org_id.to_s)).sub('{item_id}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdLibraryItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_ad_library_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_ad_library_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [AdType]
    def get_ad_type(project_id, id, opts = {})
      data, _status_code, _headers = get_ad_type_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdType, Integer, Hash)>] AdType data, response status code and response headers
    def get_ad_type_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_ad_type ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_ad_type"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_ad_type"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/ad-types/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_ad_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_ad_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Advertiser]
    def get_advertiser(project_id, id, opts = {})
      data, _status_code, _headers = get_advertiser_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Advertiser, Integer, Hash)>] Advertiser data, response status code and response headers
    def get_advertiser_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_advertiser ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_advertiser"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_advertiser"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/advertisers/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Advertiser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_advertiser",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_advertiser\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Campaign]
    def get_campaign(project_id, id, opts = {})
      data, _status_code, _headers = get_campaign_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Campaign, Integer, Hash)>] Campaign data, response status code and response headers
    def get_campaign_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_campaign ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_campaign"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_campaign"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/campaigns/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Campaign'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_campaign",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_campaign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Channel]
    def get_channel(project_id, id, opts = {})
      data, _status_code, _headers = get_channel_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Channel, Integer, Hash)>] Channel data, response status code and response headers
    def get_channel_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_channel ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_channel"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_channel"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/channels/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Channel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_channel",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_channel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Creative]
    def get_creative(project_id, id, opts = {})
      data, _status_code, _headers = get_creative_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Creative, Integer, Hash)>] Creative data, response status code and response headers
    def get_creative_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_creative ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_creative"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_creative"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/creatives/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Creative'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_creative",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_creative\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [CreativeTemplate]
    def get_creative_template(project_id, id, opts = {})
      data, _status_code, _headers = get_creative_template_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreativeTemplate, Integer, Hash)>] CreativeTemplate data, response status code and response headers
    def get_creative_template_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_creative_template ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_creative_template"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_creative_template"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/creative-templates/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreativeTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_creative_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_creative_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Flight]
    def get_flight(project_id, id, opts = {})
      data, _status_code, _headers = get_flight_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Flight, Integer, Hash)>] Flight data, response status code and response headers
    def get_flight_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_flight ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_flight"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_flight"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/flights/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Flight'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_flight",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_flight\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Priority]
    def get_priority(project_id, id, opts = {})
      data, _status_code, _headers = get_priority_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Priority, Integer, Hash)>] Priority data, response status code and response headers
    def get_priority_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_priority ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_priority"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_priority"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/priorities/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Priority'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_priority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_priority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a single project by id (path).
    # @param org_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectResponse]
    def get_project(org_id, project_id, opts = {})
      data, _status_code, _headers = get_project_with_http_info(org_id, project_id, opts)
      data
    end

    # Read a single project by id (path).
    # @param org_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectResponse, Integer, Hash)>] ProjectResponse data, response status code and response headers
    def get_project_with_http_info(org_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_project ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling DefaultApi.get_project"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_project"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/projects/{project_id}'.sub('{org_id}', CGI.escape(org_id.to_s)).sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Site]
    def get_site(project_id, id, opts = {})
      data, _status_code, _headers = get_site_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Site, Integer, Hash)>] Site data, response status code and response headers
    def get_site_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_site ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_site"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_site"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/sites/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Site'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_site",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Zone]
    def get_zone(project_id, id, opts = {})
      data, _status_code, _headers = get_zone_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Zone, Integer, Hash)>] Zone data, response status code and response headers
    def get_zone_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_zone ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DefaultApi.get_zone"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_zone"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/zones/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Zone'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_zone",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_zone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Liveness — k8s liveness probe key.
    # @param [Hash] opts the optional parameters
    # @return [String]
    def healthz(opts = {})
      data, _status_code, _headers = healthz_with_http_info(opts)
      data
    end

    # Liveness — k8s liveness probe key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def healthz_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.healthz ...'
      end
      # resource path
      local_var_path = '/healthz'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.healthz",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#healthz\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdLibraryItemList]
    def list_ad_library_items(org_id, opts = {})
      data, _status_code, _headers = list_ad_library_items_with_http_info(org_id, opts)
      data
    end

    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdLibraryItemList, Integer, Hash)>] AdLibraryItemList data, response status code and response headers
    def list_ad_library_items_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_ad_library_items ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling DefaultApi.list_ad_library_items"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/ad-library/items'.sub('{org_id}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdLibraryItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.list_ad_library_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_ad_library_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdTypeList]
    def list_ad_types(project_id, opts = {})
      data, _status_code, _headers = list_ad_types_with_http_info(project_id, opts)
      data
    end

    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdTypeList, Integer, Hash)>] AdTypeList data, response status code and response headers
    def list_ad_types_with_http_info(project_id, opts = {})
[...]
