=begin
#knievel

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0-SNAPSHOT

=end

require 'cgi'

module Knievel
  class ExplainApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param project_id [String] 
    # @param decisions_request [DecisionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ExplainResponse]
    def decisions_explain(project_id, decisions_request, opts = {})
      data, _status_code, _headers = decisions_explain_with_http_info(project_id, decisions_request, opts)
      data
    end

    # @param project_id [String] 
    # @param decisions_request [DecisionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExplainResponse, Integer, Hash)>] ExplainResponse data, response status code and response headers
    def decisions_explain_with_http_info(project_id, decisions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExplainApi.decisions_explain ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ExplainApi.decisions_explain"
      end
      # verify the required parameter 'decisions_request' is set
      if @api_client.config.client_side_validation && decisions_request.nil?
        fail ArgumentError, "Missing the required parameter 'decisions_request' when calling ExplainApi.decisions_explain"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/decisions:explain'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(decisions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ExplainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ExplainApi.decisions_explain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExplainApi#decisions_explain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
