=begin
#knievel

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.31

Generated by: https://openapi-generator.tech
Generator version: 7.23.0-SNAPSHOT

=end

require 'cgi'

module Knievel
  class FlightsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param project_id [String] 
    # @param batch_upsert_flights_request [BatchUpsertFlightsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchUpsertFlightsResult]
    def batch_upsert_flights(project_id, batch_upsert_flights_request, opts = {})
      data, _status_code, _headers = batch_upsert_flights_with_http_info(project_id, batch_upsert_flights_request, opts)
      data
    end

    # @param project_id [String] 
    # @param batch_upsert_flights_request [BatchUpsertFlightsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchUpsertFlightsResult, Integer, Hash)>] BatchUpsertFlightsResult data, response status code and response headers
    def batch_upsert_flights_with_http_info(project_id, batch_upsert_flights_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlightsApi.batch_upsert_flights ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FlightsApi.batch_upsert_flights"
      end
      # verify the required parameter 'batch_upsert_flights_request' is set
      if @api_client.config.client_side_validation && batch_upsert_flights_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_upsert_flights_request' when calling FlightsApi.batch_upsert_flights"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/flights:batchUpsert'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_upsert_flights_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchUpsertFlightsResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FlightsApi.batch_upsert_flights",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlightsApi#batch_upsert_flights\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param create_flight_request [CreateFlightRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Flight]
    def create_flight(project_id, create_flight_request, opts = {})
      data, _status_code, _headers = create_flight_with_http_info(project_id, create_flight_request, opts)
      data
    end

    # @param project_id [String] 
    # @param create_flight_request [CreateFlightRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Flight, Integer, Hash)>] Flight data, response status code and response headers
    def create_flight_with_http_info(project_id, create_flight_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlightsApi.create_flight ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FlightsApi.create_flight"
      end
      # verify the required parameter 'create_flight_request' is set
      if @api_client.config.client_side_validation && create_flight_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_flight_request' when calling FlightsApi.create_flight"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/flights'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_flight_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Flight'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FlightsApi.create_flight",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlightsApi#create_flight\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Flight]
    def get_flight(project_id, id, opts = {})
      data, _status_code, _headers = get_flight_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Flight, Integer, Hash)>] Flight data, response status code and response headers
    def get_flight_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlightsApi.get_flight ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FlightsApi.get_flight"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FlightsApi.get_flight"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/flights/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Flight'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FlightsApi.get_flight",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlightsApi#get_flight\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @return [FlightList]
    def list_flights(project_id, opts = {})
      data, _status_code, _headers = list_flights_with_http_info(project_id, opts)
      data
    end

    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @return [Array<(FlightList, Integer, Hash)>] FlightList data, response status code and response headers
    def list_flights_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlightsApi.list_flights ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FlightsApi.list_flights"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/flights'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlightList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FlightsApi.list_flights",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlightsApi#list_flights\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param update_flight_request [UpdateFlightRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Flight]
    def update_flight(project_id, id, update_flight_request, opts = {})
      data, _status_code, _headers = update_flight_with_http_info(project_id, id, update_flight_request, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param update_flight_request [UpdateFlightRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Flight, Integer, Hash)>] Flight data, response status code and response headers
    def update_flight_with_http_info(project_id, id, update_flight_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlightsApi.update_flight ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FlightsApi.update_flight"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FlightsApi.update_flight"
      end
      # verify the required parameter 'update_flight_request' is set
      if @api_client.config.client_side_validation && update_flight_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_flight_request' when calling FlightsApi.update_flight"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/flights/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_flight_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Flight'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FlightsApi.update_flight",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlightsApi#update_flight\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
