=begin
#knievel

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0-SNAPSHOT

=end

require 'cgi'

module Knievel
  class OrgsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a project under an org. Honors `Idempotency-Key` (24 h replay window per `API.md` \"Idempotency\"); `409 idempotency_conflict` if the same key is reused with a different body. Returns `409 external_id_conflict` if the `externalId` is already taken in this org.
    # @param org_id [String] 
    # @param create_project_request [CreateProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [ProjectResponse]
    def create_project(org_id, create_project_request, opts = {})
      data, _status_code, _headers = create_project_with_http_info(org_id, create_project_request, opts)
      data
    end

    # Create a project under an org. Honors &#x60;Idempotency-Key&#x60; (24 h replay window per &#x60;API.md&#x60; \&quot;Idempotency\&quot;); &#x60;409 idempotency_conflict&#x60; if the same key is reused with a different body. Returns &#x60;409 external_id_conflict&#x60; if the &#x60;externalId&#x60; is already taken in this org.
    # @param org_id [String] 
    # @param create_project_request [CreateProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @return [Array<(ProjectResponse, Integer, Hash)>] ProjectResponse data, response status code and response headers
    def create_project_with_http_info(org_id, create_project_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgsApi.create_project ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrgsApi.create_project"
      end
      # verify the required parameter 'create_project_request' is set
      if @api_client.config.client_side_validation && create_project_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_project_request' when calling OrgsApi.create_project"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/projects'.sub('{org_id}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params['idempotency_key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_project_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"OrgsApi.create_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgsApi#create_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a single project by id (path).
    # @param org_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectResponse]
    def get_project(org_id, project_id, opts = {})
      data, _status_code, _headers = get_project_with_http_info(org_id, project_id, opts)
      data
    end

    # Read a single project by id (path).
    # @param org_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectResponse, Integer, Hash)>] ProjectResponse data, response status code and response headers
    def get_project_with_http_info(org_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgsApi.get_project ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrgsApi.get_project"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling OrgsApi.get_project"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/projects/{project_id}'.sub('{org_id}', CGI.escape(org_id.to_s)).sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"OrgsApi.get_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgsApi#get_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
