=begin
#knievel

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.23

Generated by: https://openapi-generator.tech
Generator version: 7.23.0-SNAPSHOT

=end

require 'cgi'

module Knievel
  class SitesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param project_id [String] 
    # @param batch_upsert_sites_request [BatchUpsertSitesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchUpsertSitesResult]
    def batch_upsert_sites(project_id, batch_upsert_sites_request, opts = {})
      data, _status_code, _headers = batch_upsert_sites_with_http_info(project_id, batch_upsert_sites_request, opts)
      data
    end

    # @param project_id [String] 
    # @param batch_upsert_sites_request [BatchUpsertSitesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchUpsertSitesResult, Integer, Hash)>] BatchUpsertSitesResult data, response status code and response headers
    def batch_upsert_sites_with_http_info(project_id, batch_upsert_sites_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.batch_upsert_sites ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SitesApi.batch_upsert_sites"
      end
      # verify the required parameter 'batch_upsert_sites_request' is set
      if @api_client.config.client_side_validation && batch_upsert_sites_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_upsert_sites_request' when calling SitesApi.batch_upsert_sites"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/sites:batchUpsert'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_upsert_sites_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchUpsertSitesResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SitesApi.batch_upsert_sites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#batch_upsert_sites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param create_site_request [CreateSiteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Site]
    def create_site(project_id, create_site_request, opts = {})
      data, _status_code, _headers = create_site_with_http_info(project_id, create_site_request, opts)
      data
    end

    # @param project_id [String] 
    # @param create_site_request [CreateSiteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Site, Integer, Hash)>] Site data, response status code and response headers
    def create_site_with_http_info(project_id, create_site_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.create_site ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SitesApi.create_site"
      end
      # verify the required parameter 'create_site_request' is set
      if @api_client.config.client_side_validation && create_site_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_site_request' when calling SitesApi.create_site"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/sites'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_site_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Site'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SitesApi.create_site",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#create_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Site]
    def get_site(project_id, id, opts = {})
      data, _status_code, _headers = get_site_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Site, Integer, Hash)>] Site data, response status code and response headers
    def get_site_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.get_site ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SitesApi.get_site"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SitesApi.get_site"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/sites/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Site'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SitesApi.get_site",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#get_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @return [SiteList]
    def list_sites(project_id, opts = {})
      data, _status_code, _headers = list_sites_with_http_info(project_id, opts)
      data
    end

    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @return [Array<(SiteList, Integer, Hash)>] SiteList data, response status code and response headers
    def list_sites_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.list_sites ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SitesApi.list_sites"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/sites'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SiteList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SitesApi.list_sites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#list_sites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param update_site_request [UpdateSiteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Site]
    def update_site(project_id, id, update_site_request, opts = {})
      data, _status_code, _headers = update_site_with_http_info(project_id, id, update_site_request, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param update_site_request [UpdateSiteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Site, Integer, Hash)>] Site data, response status code and response headers
    def update_site_with_http_info(project_id, id, update_site_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.update_site ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SitesApi.update_site"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SitesApi.update_site"
      end
      # verify the required parameter 'update_site_request' is set
      if @api_client.config.client_side_validation && update_site_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_site_request' when calling SitesApi.update_site"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/sites/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_site_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Site'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SitesApi.update_site",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#update_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Natural-key upsert. Returns the existing row (200) when a site with the same URL exists; otherwise creates (201). Per `API.md` § 3.7: `:upsertByUrl` is the canonical entry point for URL-driven flows.
    # @param project_id [String] 
    # @param upsert_site_by_url_request [UpsertSiteByUrlRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Site]
    def upsert_site_by_url(project_id, upsert_site_by_url_request, opts = {})
      data, _status_code, _headers = upsert_site_by_url_with_http_info(project_id, upsert_site_by_url_request, opts)
      data
    end

    # Natural-key upsert. Returns the existing row (200) when a site with the same URL exists; otherwise creates (201). Per &#x60;API.md&#x60; § 3.7: &#x60;:upsertByUrl&#x60; is the canonical entry point for URL-driven flows.
    # @param project_id [String] 
    # @param upsert_site_by_url_request [UpsertSiteByUrlRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Site, Integer, Hash)>] Site data, response status code and response headers
    def upsert_site_by_url_with_http_info(project_id, upsert_site_by_url_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.upsert_site_by_url ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SitesApi.upsert_site_by_url"
      end
      # verify the required parameter 'upsert_site_by_url_request' is set
      if @api_client.config.client_side_validation && upsert_site_by_url_request.nil?
        fail ArgumentError, "Missing the required parameter 'upsert_site_by_url_request' when calling SitesApi.upsert_site_by_url"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/sites/upsert-by-url'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upsert_site_by_url_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Site'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SitesApi.upsert_site_by_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#upsert_site_by_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
