=begin
#knievel

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.18

Generated by: https://openapi-generator.tech
Generator version: 7.23.0-SNAPSHOT

=end

require 'cgi'

module Knievel
  class TokensApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Mint an opaque token. Returns the plaintext secret exactly once. Min role: org-admin.
    # @param org_id [String] 
    # @param create_token_request [CreateTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTokenResponse]
    def create_token(org_id, create_token_request, opts = {})
      data, _status_code, _headers = create_token_with_http_info(org_id, create_token_request, opts)
      data
    end

    # Mint an opaque token. Returns the plaintext secret exactly once. Min role: org-admin.
    # @param org_id [String] 
    # @param create_token_request [CreateTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTokenResponse, Integer, Hash)>] CreateTokenResponse data, response status code and response headers
    def create_token_with_http_info(org_id, create_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokensApi.create_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TokensApi.create_token"
      end
      # verify the required parameter 'create_token_request' is set
      if @api_client.config.client_side_validation && create_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_token_request' when calling TokensApi.create_token"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/tokens'.sub('{org_id}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TokensApi.create_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokensApi#create_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List tokens (metadata only; secrets never leave the mint response). Min role: org-admin.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TokenListResponse]
    def list_tokens(org_id, opts = {})
      data, _status_code, _headers = list_tokens_with_http_info(org_id, opts)
      data
    end

    # List tokens (metadata only; secrets never leave the mint response). Min role: org-admin.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TokenListResponse, Integer, Hash)>] TokenListResponse data, response status code and response headers
    def list_tokens_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokensApi.list_tokens ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TokensApi.list_tokens"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/tokens'.sub('{org_id}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TokenListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TokensApi.list_tokens",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokensApi#list_tokens\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a token (soft delete via `revoked_at`). The auth path filters revoked rows at the next request. Min role: org-admin.
    # @param org_id [String] 
    # @param token_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def revoke_token(org_id, token_id, opts = {})
      revoke_token_with_http_info(org_id, token_id, opts)
      nil
    end

    # Revoke a token (soft delete via &#x60;revoked_at&#x60;). The auth path filters revoked rows at the next request. Min role: org-admin.
    # @param org_id [String] 
    # @param token_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def revoke_token_with_http_info(org_id, token_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokensApi.revoke_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TokensApi.revoke_token"
      end
      # verify the required parameter 'token_id' is set
      if @api_client.config.client_side_validation && token_id.nil?
        fail ArgumentError, "Missing the required parameter 'token_id' when calling TokensApi.revoke_token"
      end
      # resource path
      local_var_path = '/v1/orgs/{org_id}/tokens/{token_id}'.sub('{org_id}', CGI.escape(org_id.to_s)).sub('{token_id}', CGI.escape(token_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TokensApi.revoke_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokensApi#revoke_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
