=begin
#knievel

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.19

Generated by: https://openapi-generator.tech
Generator version: 7.23.0-SNAPSHOT

=end

require 'cgi'

module Knievel
  class ZonesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param project_id [String] 
    # @param batch_upsert_zones_request [BatchUpsertZonesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchUpsertZonesResult]
    def batch_upsert_zones(project_id, batch_upsert_zones_request, opts = {})
      data, _status_code, _headers = batch_upsert_zones_with_http_info(project_id, batch_upsert_zones_request, opts)
      data
    end

    # @param project_id [String] 
    # @param batch_upsert_zones_request [BatchUpsertZonesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchUpsertZonesResult, Integer, Hash)>] BatchUpsertZonesResult data, response status code and response headers
    def batch_upsert_zones_with_http_info(project_id, batch_upsert_zones_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZonesApi.batch_upsert_zones ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ZonesApi.batch_upsert_zones"
      end
      # verify the required parameter 'batch_upsert_zones_request' is set
      if @api_client.config.client_side_validation && batch_upsert_zones_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_upsert_zones_request' when calling ZonesApi.batch_upsert_zones"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/zones:batchUpsert'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_upsert_zones_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchUpsertZonesResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ZonesApi.batch_upsert_zones",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZonesApi#batch_upsert_zones\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param create_zone_request [CreateZoneRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Zone]
    def create_zone(project_id, create_zone_request, opts = {})
      data, _status_code, _headers = create_zone_with_http_info(project_id, create_zone_request, opts)
      data
    end

    # @param project_id [String] 
    # @param create_zone_request [CreateZoneRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Zone, Integer, Hash)>] Zone data, response status code and response headers
    def create_zone_with_http_info(project_id, create_zone_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZonesApi.create_zone ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ZonesApi.create_zone"
      end
      # verify the required parameter 'create_zone_request' is set
      if @api_client.config.client_side_validation && create_zone_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_zone_request' when calling ZonesApi.create_zone"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/zones'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_zone_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Zone'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ZonesApi.create_zone",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZonesApi#create_zone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Zone]
    def get_zone(project_id, id, opts = {})
      data, _status_code, _headers = get_zone_with_http_info(project_id, id, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Zone, Integer, Hash)>] Zone data, response status code and response headers
    def get_zone_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZonesApi.get_zone ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ZonesApi.get_zone"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ZonesApi.get_zone"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/zones/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Zone'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ZonesApi.get_zone",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZonesApi#get_zone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @return [ZoneList]
    def list_zones(project_id, opts = {})
      data, _status_code, _headers = list_zones_with_http_info(project_id, opts)
      data
    end

    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @return [Array<(ZoneList, Integer, Hash)>] ZoneList data, response status code and response headers
    def list_zones_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZonesApi.list_zones ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ZonesApi.list_zones"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/zones'.sub('{project_id}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ZoneList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ZonesApi.list_zones",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZonesApi#list_zones\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param update_zone_request [UpdateZoneRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Zone]
    def update_zone(project_id, id, update_zone_request, opts = {})
      data, _status_code, _headers = update_zone_with_http_info(project_id, id, update_zone_request, opts)
      data
    end

    # @param project_id [String] 
    # @param id [Integer] 
    # @param update_zone_request [UpdateZoneRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Zone, Integer, Hash)>] Zone data, response status code and response headers
    def update_zone_with_http_info(project_id, id, update_zone_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ZonesApi.update_zone ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ZonesApi.update_zone"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ZonesApi.update_zone"
      end
      # verify the required parameter 'update_zone_request' is set
      if @api_client.config.client_side_validation && update_zone_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_zone_request' when calling ZonesApi.update_zone"
      end
      # resource path
      local_var_path = '/v1/projects/{project_id}/zones/{id}'.sub('{project_id}', CGI.escape(project_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=utf-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_zone_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Zone'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ZonesApi.update_zone",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ZonesApi#update_zone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
